# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Local environment/configuration
.env
.env.*
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
app/.dart_tool/
.pub-cache/
.pub/
app/build/
app/android/local.properties
app/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
app/ios/Flutter/Generated.xcconfig
app/ios/Flutter/flutter_export_environment.sh
app/ios/Flutter/ephemeral/
app/ios/Runner/GeneratedPluginRegistrant.*

# Distribution outputs
*.apk
*.aab
*.ipa
*.app

# Web related
app/lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
